@defer(){
  @if(cartStore.products().length) {
  <div class="grid grid-cols-4 gap-4">
    @for (product of cartStore.products(); track product.id; let i = $index; let f = $first; let l = $last;) {

    <div class="container bg-gray-100">
      <div
        class="image-container w-full bg-white p-2 min-h-[180px] flex item-center justify-center"
      >
        <img [src]="product.image" alt="image" class="max-h-[150px]" />
      </div>
      <div class="m-2 text-xs text-center">
        <div>
          <p for="id">
            <strong id="id" name="id">Id: </strong>
            <span>{{ product.id }}</span>
          </p>
          <p for="name" class="flex item-start">
            <strong id="name" name="name">Title: </strong>
            <span
              ><a [routerLink]="[product.id]">{{ product.title }}</a></span
            >
          </p>
          <p for="price" class="flex items-center gap-2">
            <strong id="price" name="price">Price: </strong>
            <span class="text-lg">{{ product.price | currency }}</span>
          </p>
        </div>
      </div>
    </div>

    } @empty {
      <div class="text-xl text-gray-400 gap-4 text-center">
        No items yet
      </div>
    }
  </div>
  } @else {
    <div class="text-xl text-gray-400 gap-4 text-center">
      No items yet
    </div>
  }
  }@placeholder {
    <p class="text-center">Listado de productos...</p>
  }@loading {
    <p class="text-center">Is loading...</p>
  }@error {
    <p class="text-center">Error...</p>
  }
