<div class="flex justify-center">
  @defer (on timer(10ms); prefetch when products()) { @for (product of products();
  track product.id) {

  <div class="container bg-gray-100">
    <div
      class="image-container w-full bg-white p-2 min-h-[180px] flex item-center"
    >
      <img [src]="product.image" alt="image" class="max-h-[150px]" />
    </div>
    <div class="m-2 text-xs">
      <label for="id">
        <span id="id" name="id">Id: </span>
        <span>{{ product.id }}</span>
      </label>
      <label for="name" class="flex item-start">
        <span id="name" name="name">Title: </span>
        <span
          ><a [routerLink]="[product.id]">{{ product.title }}</a></span
        >
      </label>
      <label for="price" class="flex item-start">
        <span id="price" name="price">Price: </span>
        <span class="text-lg">{{ product.price }}</span>
      </label>
    </div>
  </div>

  } } @loading (minimum 2000ms) {
  <p>Loading....</p>
  } @error {
  <p>Failed to load the products</p>
  }
</div>
